<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css">
   <title> {% block title %} ZZZ   {% endblock %}</title>
   {% load static %}
        <img src="{%static '/polls/abeille.bmp' %}" alt="Mon imagee" />
        
</head>

<body>
<header>BEES APP-E</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/checks_list">Visites</a></li>
            <li><a href="/hives_list">Ruches</a></li>
            <li><a href='/apiaries_list'>Ruchers</a></li>
            <li><a href="/settings">Paramètres</a></li>
            <li><a href="/Util">Utilitaires</a></li>
       </ul>
       {% endblock %}
   </nav>

   <section id="content">
       {% block content %}{% endblock %}
   </section>

<footer>&copy; Bees App-E</footer>
</body>
</html>