{% extends "base.html" %}
{% block title %}Consultation{% endblock %}
{% block content %}
{% if Check_list %}
    <ul>
    <B> Dernières visites </B>
    Nombre de visites : {{Check_nb}}
    {% for Check in Check_list %}
  <li>  Visite : {{Check.c_fkhive}}  Date & heure : {{Check.c_datetime}} Etat général : {{Check.c_globalstatus}} Hause 1 : {{Check.c_super1}} Hause 2 : {{Check.c_super2}}</li>
    {% endfor %}
    <a href="/checks_form">Nouv Visite</a>
    </ul>
{% else %}
    <p>Aucune visite pour cette sélection de ruche ou rucher</p>
{% endif %}
{% endblock %}
